$theme-colors: (
  "primary": #238a0f,
  "danger": #f30c0c,
  "_links":hotpink
);
$border-radius: 0.2em;

$link-color:                theme-colors("primary");
$link-decoration:           none ;
$link-hover-color:          darken(rgba(0, 255, 42, 0.993), 20%);
$link-hover-decoration:     underline;



$container-max-widths: (
  sm: 140px,
  md: 220px,
  lg: 360px,
  xl: 1140px
) !default;

.h-lg {
  height: 35rem;
}
.main-nav {
  background-color: rgb(34, 33, 33);
  //background-color:transparent;
	left: 0;
	position: absolute;
  top: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
 
  .brandname{
    color:white;
    background-color: #202222;
   // background-color:transparent;
    :hover{
      transition: color 0.5s ease-in-out;
      color:green;
    }
  }
  
}
.nav-link {
  background-color: #202222;
  //background-color:transparent;
  color:white;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin-left: 5.5em;
 transition: color 0.5s ease-in-out;
  padding-left: 0;
  position: relative;
:hover{
color:green;
}

.move-right{
  right:0;
  }
.move-left{
  left:0;
  }
}
body{
  background-color: white;

}
.banner-main{
 //background: url("../../images/banner.jpg");
 //clip-path:polygon(0 0, 43% 0, 100% 100%, 0% 100%);
 background-color:white;
	//	background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #332121;
		padding:5em;
		text-align: center;
}
// .container-fluid{
//   position: ;
// }
//   .dropdown-menu {
//     position: static;
//     float: none;
//   }
// }
.image-wrapper-sm {
  object-fit: cover;
  border-radius: 50%;
  height: 15rem;
  width: 100%;
}

.card-title {
  color: #ee8301;
}

/* ANTD Overwrites */
.ant-btn-primary {
  background-color: #ee8301 !important;
  border-color: #ee8301 !important;
}

.ant-slider-handle {
  border-color: #ee8301 !important;
}

.ant-slider-track {
  background-color: #282c34 !important;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";